:root {
  --bg-color: #000028;
  --subtitle-color: #000028;
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --button-color: #ff0070;
  --color-transparent: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --hover-border-color: #ff0070;
}

:root.theme-dark {
  /* Дублируем переменные для тёмной темы */
}

/* Остальные стили, только при необходимости */


:root.theme-light {
  /* Переменные светлой темы */    
}

/* Остальные стили, только при необходимости */

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */    
  }
}

/* Остальные стили, только при необходимости */


/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
